<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home-component.component.css"> 

    <title>Sobre mí</title>
    
</head>
<body center>

    <h1>Sobre mí</h1>
    <div class="contenedor-fotos">
        <img src="imagenes-Sobre mi/Luffy foto.jpg" alt="Tu Foto"> 
        
    </div>

    <h2>Descripción</h2>
    <p>Soy una persona apasionada por la tecnología llevo interesado en el mundo de la programacion desde Secundaria no me considero sobresaliente pero creo que hay mucho talento por explorar.Me gusta toda clase de cosas geek desde videojuegos,comics,series,anime si tiene buena historia no veo por que no darle oportunidad.</p>
    <h2>Mis cosas favoritas</h2>

    <ul class="listas-cool">
        <li>
          <h3>DOOM</h3>
          <img src="imagenes-Sobre mi/Doom_Slayer.webp" alt="Foto del  Doom Slayer"> 
          <p>Mi videojuego favorito en general me ayudó en un momento muy triste de mi vida al tener tanta estimulación no me dejaba pensar en cosas tristes.</p>
        </li>
        <li>
          <h3>JoJos Bizzare Adventure</h3>
          <img src="imagenes-Sobre mi/Kujo Jotaro.webp" alt="Foto de Jotaro mi Joestar favorito"> 
          <p>Mi anime favorito sin miedo a equivocarme me encanta desde el estilo de arte la historia los personajes mi Parte favorita es Stardust Crusaders siendo Jotaro mi JoJo favorito.</p>
        </li>
        <li>
            <h3>Matematicas</h3>
            <img src="imagenes-Sobre mi/Matematica.webp" alt="Foto de Jotaro mi Joestar favorito"> 
            <p>Desde niño siempre ha sido mi materia favorita nunca fui bueno en dibujar ni pintar ni cantar pero por alguna razon las mates siempre fueron mi fuerte tanto que pues es mi manera de expresarme con ellas como puede ser la programacion</p>
          </li>
          
    </ul>
    <h2>Redes Sociales</h2>
    <ul class="listas-cool">
    
        <li>
          <h3>Instagram</h3>
          <img src="imagenes-Sobre mi/Instagram.webp" alt="Foto de Instagram"> 
          <p>https://www.instagram.com/</p>
        </li>
        
    </ul>


</body>
</html>